/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 120px 0 60px;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
    gap: 10px;
}

.col {
    width: calc(100% / 3 - (20px / 3));
}

.subtitle {
    margin-bottom: 10px;
    font-size: 1rem;
}

/* HEADER */
header {
    margin-bottom: 30px;
    height: 80px;
    background-color:#FF6900;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.header-container {
    width: 60%;
    padding: 2rem;
    margin: 0 auto;
    justify-content: space-between;
}

.header-container li {
    display: inline-block;
    margin: 5px 5px;
}

.header-container a {
    color: white;
    text-decoration: none;
}

.header-logo {
    width: 150px;
}

/* MAIN */
/* card */
.card {
    position: relative;
}

.model {
    position: relative;
}
.discount {
    background-color: red;
    padding: .2rem;
}

.green {
    background-color: #008000;
    padding: .2rem;
}

.promo {
    position: absolute;
    left: 0;
    bottom: 120px;
    font-size: .9rem;
    color: white;
}

.description span{
    font-size: .8rem;
}
.heart {
    position: absolute;
    right: 0;
    top: 10px;
    background-color: white;
    padding: .3rem .8rem;
    font-size: 2rem;
}

.new-price {
    color: red;
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
}

/* hover */
.pose {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.card:hover {
    z-index: 4;
}

.card:hover .model {
    z-index: -10;
}

/* FOOTER */
footer {
    background-color: #1A1A1A;
   
}

.footer-container {
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px 50px;
    color: white;
}

.footer-container li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
    font-size: .9rem;
}

.footer-container a {
    text-decoration: none;
    color: inherit;
}